<!DOCTYPE html>
<html ng-app="admin">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% include "commons/header.html" %}
  {% include "commons/client.html" %}
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-controller="admin">
<div class="wrapper">

  <header class="main-header">



    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="${static}/tmp/#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <!--<li class="dropdown messages-menu">-->
            <!--<a href="${static}/tmp/#" class="dropdown-toggle" data-toggle="dropdown">-->
              <!--<i class="fa fa-envelope-o"></i>-->
              <!--<span class="label label-success">4</span>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu">-->
              <!--<li class="header">You have 4 messages</li>-->
              <!--<li>-->
                <!--&lt;!&ndash; inner menu: contains the actual data &ndash;&gt;-->
                <!--<ul class="menu">-->
                  <!--<li>&lt;!&ndash; start message &ndash;&gt;-->
                    <!--<a href="${static}/tmp/#">-->
                      <!--<div class="pull-left">-->
                        <!--<img src="${static}/tmp/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">-->
                      <!--</div>-->
                      <!--<h4>-->
                        <!--Support Team-->
                        <!--<small><i class="fa fa-clock-o"></i> 5 mins</small>-->
                      <!--</h4>-->
                      <!--<p>Why not buy a new awesome theme?</p>-->
                    <!--</a>-->
                  <!--</li>-->
                  <!--&lt;!&ndash; end message &ndash;&gt;-->
                  <!--<li>-->
                    <!--<a href="${static}/tmp/#">-->
                      <!--<div class="pull-left">-->
                        <!--<img src="${static}/tmp/dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">-->
                      <!--</div>-->
                      <!--<h4>-->
                        <!--AdminLTE Design Team-->
                        <!--<small><i class="fa fa-clock-o"></i> 2 hours</small>-->
                      <!--</h4>-->
                      <!--<p>Why not buy a new awesome theme?</p>-->
                    <!--</a>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<a href="${static}/tmp/#">-->
                      <!--<div class="pull-left">-->
                        <!--<img src="${static}/tmp/dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">-->
                      <!--</div>-->
                      <!--<h4>-->
                        <!--Developers-->
                        <!--<small><i class="fa fa-clock-o"></i> Today</small>-->
                      <!--</h4>-->
                      <!--<p>Why not buy a new awesome theme?</p>-->
                    <!--</a>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<a href="${static}/tmp/#">-->
                      <!--<div class="pull-left">-->
                        <!--<img src="${static}/tmp/dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">-->
                      <!--</div>-->
                      <!--<h4>-->
                        <!--Sales Department-->
                        <!--<small><i class="fa fa-clock-o"></i> Yesterday</small>-->
                      <!--</h4>-->
                      <!--<p>Why not buy a new awesome theme?</p>-->
                    <!--</a>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<a href="${static}/tmp/#">-->
                      <!--<div class="pull-left">-->
                        <!--<img src="${static}/tmp/dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">-->
                      <!--</div>-->
                      <!--<h4>-->
                        <!--Reviewers-->
                        <!--<small><i class="fa fa-clock-o"></i> 2 days</small>-->
                      <!--</h4>-->
                      <!--<p>Why not buy a new awesome theme?</p>-->
                    <!--</a>-->
                  <!--</li>-->
                <!--</ul>-->
              <!--</li>-->
              <!--<li class="footer"><a href="${static}/tmp/#">See All Messages</a></li>-->
            <!--</ul>-->
          <!--</li>-->

          {% include  "/commons/user-menu.html"%}
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="${static}/tmp/#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>

    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  {% include "/commons/main-sidebar.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div q-template url="${appUrl}/{{page}}" ng-if="page" class="box">

    </div>

  </div>
  <!-- /.content-wrapper -->



 

</div>


<script>
  var mdl =angular.module("admin",["q-ui"]);
  mdl.controller("admin",["$compile","$scope",function($compile,scope){
    history_navigator(scope.$root)
    scope.$root.$compile = $compile;
    scope.$root.$dialog=dialog
    scope.$root.$history.change(function(data){
      scope.page = data.page;
      scope.$applyAsync();
      debugger;

    });
  }])

</script>
</body>
</html>
