<script src="${static}/client/angular.min.js"></script>
<script src="${static}/client/ui.js"></script>
<script src="${static}/client/ui.directtives/ui.service.ajax.js"></script>
<script src="${static}/client/ui.directtives/ui.services.dialog.js"></script>
<script src="${static}/client/ui.directtives/ui.bootstrap.image.js"></script>
<script src="${static}/client/ui.directtives/ui.bootstrap.layout.js"></script>
<script src="${static}/client/ui.directtives/ui.bootstrap.select2.js"></script>
<script src="${static}/client/ui.directtives/ui.bootstrap.summernote.js"></script>
<script src="${static}/client/ui.directtives/ui.diective.bLookupBox.js"></script>
<script src="${static}/client/ui.directtives/ui.diective.bPager.js"></script>
<script src="${static}/client/ui.directtives/ui.directitive.ajax.call.js"></script>
<script src="${static}/client/ui.directtives/ui.directive.bDatePicker.js"></script>
<script src="${static}/client/ui.directtives/ui.directives.ag-grid.js"></script>
<script src="${static}/client/ui.directtives/ui.directives.bSelect.js"></script>
<script src="${static}/client/ui.directtives/ui.directives.handsontable.js"></script>
<script src="${static}/client/ui.directtives/ui.directives.inputMask.js"></script>
<script src="${static}/client/ui.directtives/ui.qTemplate.js"></script>
<script src="${static}/client/ui.directtives/ui.drectives.ajax.js"></script>

