<div title="${_//'List of users'}">
    <table class="table">
        <thead>
        <tr>
            <td>
                ${_//'Username'}
            </td>
             <td>
                ${_//'Email'}
            </td>
        </tr>
        </thead>
    </table>
    {{data}}
    <input type="button" ng-click="doLoadUsers()">
    <ajax url="${currentUrl}">
        <call data-id="LoadUsers" params="postData" ng-model="data" data-function="doLoadUsers"/>
    </ajax>
    <input type="button" ng-click="$root.$dialog($id).url('views/user').done()">
</div>

