<div>
    {{data.name|date:'dd-MM-yyyy hh:mm:ss'}}
    <input type="button" ng-click="doLoadUsers()">
    <ajax url="${currentUrl}">
        <call data-id="LoadUsers" params="postData" ng-model="data" data-function="doLoadUsers"/>
    </ajax>
</div>

<script>
    (function(scope){
        scope.$watch(function(){
            return scope.doLoadUsers;
        },function(v){
            alert(v)
        });
        scope.postData={
            a:1,
            b:2,
            c:new Date()
        }

    });
</script>