<div>

    <div ng-if="!$root.$history.data().username">
        <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>${_//"Username"}</th>
            <th>${_//"Email"}</th>
            <th>${_//"First name"}</th>
            <th>${_//"Last name"}</th>
            <th>${_//"Total login time"}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in data.items">
            <td>
               <a href="#{{$root.$url().param('username',p.UserName).url()}}">{{p.UserName}}</a>
            </td>
            <td>{{p.Email}}</td>
            <td>{{p.FirstName}}</td>
            <td>{{p.LastName}}</td>
            <td>{{p.LoginCount}}</td>
        </tr>
        </tbody>
        </table>
        <input type="button" ng-click="doLoadUsers()">
    </div>
    <div ng-if="$root.$history.data().username">
        <div q-template url="${appUrl}/views/user">

        </div>
    </div>



    <ajax url="${currentUrl}">
        <call data-id="LoadUsers" params="postData" ng-model="data"/>
    </ajax>

</div>
